@import 'nord';

$blue: #3a81c3;
$green: #2d9574;
$red: #ba2f59;
$orange: #dc752f;
$cyan: #2aa1ae;
$purple: #715ab1;

$accent: $nord13;
$accent-dark: $nord11;

$code-foreground: $nord8;
$code-background: $nord7;
$code-func: $nord12;
$code-constant: $nord15;
$code-regex: $nord14;

$back-white: $nord0;
$back-light: $nord1;
$back-medium: $nord3;

$text-light: $nord6;
$text-gray: $nord4;
$text-medium: $nord5;
$text-dark: $nord6;
