body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #5CACEE;
  color: #FFFFFF; }

#content {
  background: #3b3b3b;
  padding: 20px;
  margin: auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 255, 0.5);
  border-radius: 10px;
  color: #FFFFFF; }

#navigation p, #postamble p {
  text-align: center;
  color: #FFFFFF; }

a {
  color: #FFD700;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.title {
  text-align: center; }
  .title img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; }

h1, h2, h3 {
  color: #FFFFFF; }

.org-ul {
  list-style-type: none;
  padding: 0; }
  .org-ul li {
    padding: 5px 0; }
    .org-ul li a {
      color: #FFD700; }

.fa-solid, .fa-brands {
  margin-right: 5px; }

#table-of-contents {
  background: none;
  padding: 10px;
  border-radius: 5px; }
  #table-of-contents h2 {
    color: #FFFFFF; }

.outline-text-2, .outline-text-3 {
  background: #636363;
  color: #FFFFFF;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px; }

#postamble .author, #postamble .date {
  color: #000000; }
