// Define colors
$background-color: #5CACEE; // Vibrant sky blue
$text-color: #FFFFFF;
$link-color: #FFD700; // Warm yellow
$accent-color: #FF0000; // Bright red
$white-color: #FFFFFF; // White
$black-color: #000000;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: $background-color;
  color: $text-color;
}

#content {
  background: #3b3b3b;
  padding: 20px;
  margin: auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5),
              0 0 20px rgba(0,0,255,0.5); // Adds a glow effect
  border-radius: 10px; // Optional: Rounds the corners for a softer look
  color: $white-color; // Ensuring text is visible against a darker background
}

#navigation p, #postamble p {
  text-align: center;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  text-align: center; // Centers the content of the title class
  img {
    display: block; // Makes the image a block-level element
    margin: 0 auto; // Automatically calculates left and right margins to center the image
    max-width: 100%; // Ensures the image is responsive and fits its container
    height: auto; // Maintains the aspect ratio of the image
  }
}


h1, h2, h3 {
  color: $text-color;
}

.org-ul {
  list-style-type: none;
  padding: 0;

  li {
    padding: 5px 0;
    a {
      color: $link-color;
    }
  }
}

// Icons
.fa-solid, .fa-brands {
  margin-right: 5px;
}

// Table of Contents styling
#table-of-contents {
  background: none;
  padding: 10px;
  border-radius: 5px;
  h2 {
    color: $white-color;
  }
}

// About Me and other sections
.outline-text-2, .outline-text-3 {
  background: #636363; // Removes the background color
  color: $text-color; // Adjusts the text color for readability if necessary
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

// Footer
#postamble {
  .author, .date {
    color: $black-color;
  }
}
