@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #5cacee;
  color: #ffffff; }

@media (min-width: 768px) {
  overflow-y: auto;
  /* Enables vertical scrolling */
  max-height: 90vh;
  /* Adjust based on your preference */
  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 15px; }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.5);
    border-radius: 15px; }
  :hover::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.8);
    border-radius: 15px; } }

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .content {
    margin: 10px auto;
    max-height: none;
    /* Removes the fixed height */
    overflow-y: visible;
    /* Removes scrolling from the content div */ } }

.content {
  background: #3b3b3b;
  padding: 20px;
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 0 0 1000px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #ffffff; }
  .content div:not(#table-of-contents) h1:not(.title):not(.typing-text),
  .content div:not(#table-of-contents) h2:not(#table-of-contents),
  .content div:not(#table-of-contents) h3,
  .content div:not(#table-of-contents) h4,
  .content div:not(#table-of-contents) h5,
  .content div:not(#table-of-contents) h6 {
    position: relative;
    padding-left: 30px; }
    .content div:not(#table-of-contents) h1:not(.title):not(.typing-text)::before,
    .content div:not(#table-of-contents) h2:not(#table-of-contents)::before,
    .content div:not(#table-of-contents) h3::before,
    .content div:not(#table-of-contents) h4::before,
    .content div:not(#table-of-contents) h5::before,
    .content div:not(#table-of-contents) h6::before {
      content: "○";
      position: absolute;
      left: 0;
      top: 0;
      color: #ffd700;
      font-size: 24px; }
  .content div:not(#table-of-contents) h3::before {
    font-size: 20px; }
  .content div:not(#table-of-contents) h4::before {
    font-size: 16px; }
  .content div:not(#table-of-contents) h5::before {
    font-size: 12px; }
  .content div:not(#table-of-contents) h6::before {
    font-size: 8px; }
  .content .super-typing-container {
    width: 100%;
    text-align: center; }
  .content .typing-container {
    max-width: 80%;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    font-size: 2em;
    line-height: 1.4; }

#navigation p,
#postamble p {
  text-align: center;
  color: #ffffff; }

a {
  color: #ffd700;
  position: relative;
  text-decoration: none; }
  a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .9s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff0000' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: 1.3em auto;
    background-repeat: repeat-x;
    text-decoration: none;
    opacity: 0.85; }

.title {
  text-align: center; }
  .title img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; }

h1,
h2,
h3 {
  color: #ffffff; }

.org-ul {
  list-style-type: none;
  padding: 0; }
  .org-ul li::before {
    content: "•";
    /* Custom bullet point symbol */
    padding-right: 10px;
    color: #ff0000;
    /* Bullet point color */
    font-size: 20px; }
  .org-ul li {
    padding: 5px 0; }
    .org-ul li a {
      color: #ffd700; }

.fa-solid,
.fa-brands {
  margin-right: 5px; }

#table-of-contents ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  border-radius: 5px; }
  #table-of-contents ul li {
    position: relative;
    padding-left: 1.5em; }
    #table-of-contents ul li::before {
      content: "➤";
      position: absolute;
      left: 0;
      top: 0;
      color: #ffd700; }

.outline-text-2,
.outline-text-3 {
  background: #454545;
  color: #ffffff;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px; }

#postamble .author,
#postamble .date {
  color: #000000; }
